@import url(//db.onlinewebfonts.com/c/0033a2fbc0329740fb86c1cfd134cb94?family=Roboto);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.aboutcontainer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.manipad{
    width: 15%;
    height: 15%;
}
.manipad > img{
    width: 100%;
    height: 100%;
}
.innerabout{
    width: 40%;
  
}
.emptydiv{
    width: 30px;
    border: 1px solid #FF4F01;
    margin-bottom: 50px;
}
.abouth3{
    color:#FF4F01;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 30px;
}
.abouth2{
    color:#202124;
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 20px;
}
.aboutp{
    width: 80%;
    margin-bottom: 40px;
}
.aboutsecure{
    width: 70%;
    margin-bottom: 100px;
    /* margin: auto; */
}
.innersecure{
    width: 90%;
    margin: auto;
}
.ourservices{
    width: 90%;
    margin: auto ;
    margin-bottom: 50px;
}
.ourservices h2{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Roboto';
    margin-bottom: 20px;
    color: #FF4F01;
}
.ourservices p{
    font-size: 1rem;
    font-family: 'Roboto';
    color:#202124;
}
@media screen and (max-width: 1024px){
    .manipad{
        width: 20%;
        height: 20%;
    }
    .abouth3{
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
    .abouth2{
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    .aboutp{
        margin-bottom: 20px;
        font-size: 1rem;
    }
    .emptydiv{
        margin-bottom: 20px;
    }
    .ourservices{
        margin-bottom: 20px;
    }
    .ourservices h2{
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    .ourservices p{
        font-size: 1rem;
    }
}