.container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navlinks{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li {
    list-style: none;
    font-size: 1.1rem;
    font-family: 'roboto';
    color: #FF4F01;
  }
  .Signup{
    font-size: 1.1rem;
    padding: 3px 7px;
    font-family: 'roboto';
    background-color: #202124;
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 3px;
  text-align: center;
  }
  .links{
    font-size: 1.1rem;
    font-family: 'roboto';
    color: #FF4F01;
    text-decoration: none;
  }
  .signlink{
    font-size: 1.1rem;
    font-family: 'roboto';
    color: white;
    text-decoration: none;
  }
  .hamburger{
    display: none;
  }
  @media screen and (max-width: 768px){
    .container{
      width: 100%;
      margin-top: 0px;
      align-items: center;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    }
    .nav{
      display: none;
    }
    .hamburger{
      display: block;
    }
    .hamburger img{
      width: 52px;
      height: 65px;
      margin: 20px 30px 20px 0px;
    }
    .logocontainer{
      width: 40%;
    }
    .logocontainer > img{
      width: 80%;
      padding-left: 30px;
      margin: 20px 30px 0px 20px;
    }
  }