.pricecontainer{
 width: 100%;
}
.innerprice{
    width: 80%;
    margin: auto;
}
.plans{
    width: 60%;
    margin:70px auto;
}
.plans h2{
    width: 80%;
    margin: auto;
    font-size: 36px;
    font-family: 'roboto';
    font-weight: 500;
    color: #FF833C;
    padding-bottom: 20px;
}
.plans p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    font-family: 'roboto';
    font-weight: 300;
    color: #606368;
}
.innerplan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media  screen and (max-width: 768px) {
    .plans{
        width: 80%;
        margin:50px auto;
    }
    .plans h2{
        font-size: 22px;
        /* width: 80%; */
    }
    .plans p{
        font-size: 14px;
        width: 80%;
    }
}
